<head>
  <style>
    table tr td{
      padding-top:10px;
    }
    body {
      color:#9966ff;
    }
    table {
      margin-bottom:10px;
    }
  </style>
</head>

<div class="container">
    <table>
        <tr>
            <td style="width:80px"><strong><em>タイトル</em></strong></td>
            <td><%= @blog.title %></td>
        </tr>
        <tr>
            <td><strong><em>内容</em></strong></td>
            <td><%= @blog.content %></td>
        </tr>
        <tr>
            
              <% if current_user.id==@blog.user.id %>
              
                <td><%= link_to '編集', edit_blog_path(@blog), class:"btn btn-warning" %> </td>
              <% end %>
            
            <td><%= link_to '戻る', blogs_path, class:"btn btn-info" %></td>
        </tr>
    </table>
</div>
j