<head>
    
    <style>
        .thumbnail{
            margin: 0px auto;
            max-width: 200px;
        }
        .img-responsive {
            display: block;
            
        }
        table thead tr td,
        table tbody tr td {
            text-align:center;
        }
        .aboutme{
            min-width: 200px;
        }
    </style>
    
</head>
       
<div class="container">
    <div class="row">
        <% @user %>
        <table>
            <thead>
              <tr>
                  <td>名前</td>
                  <td>私について</td>
                  <td>写真</td>
              </tr>  
            </thead>
            <tbody>
                <% @user.each do |user| %>
                    <tr>
                    
                        <td><%= user.name %></td>
                        <td class="aboutme"><%= user.about_me %></td>
                        <td class="thumbnail img-rounded img-responsive"><%= image(user) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    
   </div> 
</div>
