

    <ul>
      <% answers.each do |answer| %>
      <% unless answer.id.nil? %>
        <li><%= answer.user %>
        <%= answer.content %>
        <%= link_to '編集', edit_q_answer_path(@q,answer) %>
        <%= link_to '削除', answer, method: :delete, data: { confirm: '本当に?' } %></li>
      <% end %>
    <% end %></ul>

